  <hr>
  <div class="row">
      <div class="col">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)= 'mensaje()'>Mensaje</button>
        <button type="button" class="btn btn-primary" (click)= 'saludo()'>Saludo</button>
        
    </div>

    <div class="btn-group mr-4" role="group" aria-label="Basic example">
      <input type="text" class="form-control" placeholder="Tweet" [(ngModel)]='tweetText' >
      <button type="button" class="btn btn-primary"  [disabled] = "tweetText == null" (click)= 'postEvent()'>Post</button>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)= 'lastEvent()'>Last event</button>
      <button type="button" class="btn btn-primary" (click)= 'eventsCounter()'>Events count</button>
    </div>


    </div></div>
  </div>
  <div class="row">
     <div class="col">
      <div class="">
        <div class="card card-body">

            <ul class="list-group">
                <li *ngFor='let serviceResponse of serviceResponses'
                   class="list-group-item" >{{serviceResponse}}</li>
            </ul>
          
        </div>
      </div>
    </div>
  </div>


