<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark bg-primary">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>

</main>


